body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9b896b;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #7b2626;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
}

.display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    color: black;
    margin-bottom: 10px;
    border: 1px solid #bf7c7c;
    border-radius: 5px;
    padding: 10px;
    
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #226d81;
    color: rgb(234, 234, 234);
    
}

button:hover {
    background-color: rgb(172, 143, 153);
    cursor: pointer;
}
